/* App.css */
.notApp{
  font-family: 'Arial', sans-serif;
  width: 200px;   /* Fixed width */
  height: 75px;  /* Fixed height */
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden; /* In case content overflows */
}
.App {
  font-family: 'Arial', sans-serif;
  width: 400px;   /* Fixed width */
  height: 560px;  /* Fixed height */
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden; /* In case content overflows */
}
.result-container {
  text-align: center;
}
.prediction-container {
  background-color: #f0f0f0;
  padding: 5px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 4px;
  font-size: 1.2em;
  color: #333;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

.box {
  background-color: #ADD8E6;
  border-radius: 4px;
  padding: 20px;
  margin: 5px;
  flex: 1; /* This will make each box expand to fill the available space */
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-details {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.video-thumbnail {
  flex-basis: 40%;
  background-color: #eee;
  border-radius: 4px;
  margin: 5px;
  overflow: hidden;
}

.video-thumbnail img {
  width: 100%;
  display: block; /* Remove any space below the image */
}

.video-metadata {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-title,
.video-author {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px; /* Add space between title and author */
  color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .video-details {
      flex-direction: column;
  }

  .video-thumbnail,
  .video-metadata {
      flex-basis: 100%;
  }
}

.notvideo-title{
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px; /* Add space between title and author */
  color: #333;
  text-align: center;
}